html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  color: #222;
  font-size: 1.2rem;
  line-height: 1.4;
}

body {
  margin: 0;
  padding-top: 2rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

@media (min-width: 800px) {
  body {
    padding: 4rem;
  }
}

a {
  color: #222;
}

main {
  max-width: 40rem;
}

section {
  margin-bottom: 3rem;
}

h1,h2,h3 {
  margin-top: 0;
  font-weight: normal;
}

h1{
  font-size: 2rem;
}

dd {
  margin-bottom: 1rem;
  margin-inline-start: 0; /* reset */
}

ul {
  list-style: none;
  padding:0;
}

li {
  margin-bottom: 0.5rem;
}