html {
  box-sizing: border-box;
  background-color: #fff7f3;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  color: #222;
  font-size: 1.2rem;
  line-height: 1.4;
}

body {
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 60px;
  margin-left: 20px;
}

a {
  color: #222;
}

main {
  max-width: 660px;
}

section {
  margin-bottom: 3rem;
}

h1,h2,h3 {
  margin-top: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  word-wrap: balance;
}

h2 {
  margin-top: 40px;
}

dd {
  margin-bottom: 1rem;
  margin-inline-start: 0; /* reset */
}

ul {
  list-style-type: "– ";
}

ul.no-bullets {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
  border: 6px solid #ede5e1;
}

.home-link {
  margin-bottom: 20px;
}

.project-links {
  margin-top: 40px;
}

pre {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f8f0ec;
}

code {
  background-color: #f8f0ec;
}

@media (min-width: 800px) {
  body {
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 140px;
    margin-left: 100px;
  }

  dl {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 20px;
  }

  dt {
    padding-right: 20px;
  }

  dd {
    margin: 0;
  }

}